body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    z-index: 10;
    position: relative;
}

h2 {
    text-align: center;
    color: #FAAF32;
    margin-bottom: 10px;
}

.border-gradient {
    padding: 2px;
    background: linear-gradient(to top, #2B6ED6, #FAAF32);
    border-radius: 15px;
}

.form-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
    font-size: 14px;
    color: #FAAF32;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.form-group label {
    width: 130px;
    min-width: 100px;
    color: #FAAF32;
    font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FAAF32;
    outline: none;
    font-size: 13px;
    background: transparent;
    color: #FAAF32;
}

.form-group input[type="file"] {
    font-family: 'Poppins', sans-serif;
    background-color: #DAE2ED;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 13px;
    color: #000000;
}

.form-value {
    color: #FAAF32;
    font-weight: bold;
}

.button-group {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.btn.cancel {
    background-color: #2B6ED6;
}

.btn.save {
    background-color: #2B6ED6;
}

.cat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.cat-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    /* Tengah horizontal */
}

.colon-nama,
.colon-email,
.colon-nomor {
    margin-left: 30px;
}